


<% if current_user && current_user.writer == true %>
		<%= link_to "Create New Post", new_post_path %>
		<%= link_to "See All Posts", posts_path %>
<% end %>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% if current_user %>
	<%= image_tag current_user.image  %>
<% end %>

<div class='padding'>
	<%= render "layouts/menu" %>
	<% @posts.each do |post| %>
		<% if post.published == true %>
			<div id='posts'>
				<span id='title'><%= link_to post.title, post_path(post.id)%></span>
				<span id='lauren-date'><%= post.updated_at.strftime("%B %Y") %></span>
				<span id='pic'><%= image_tag "LH6.jpg" %></span>
				<div class="sub"><%= raw post.content.strip %></div>
			</div>
		<% end %>
	<% end %>
</div>
