
<div id='left-side'>
	<div id='welcome-site'>
	  <h2>Writer Lauren</h2>
	  <h3>Welcome to my Blog</h3>
	</div>
	<span id='button'>
		<%= link_to 'Contact', post_path(1) %>
	</span>
	<span id='button'>
		<%= link_to 'Resume', post_path(1) %>
	</span>

</div>

<section>
	<% if current_user %>
		<% if current_user.username == 'lauren' %>
			<%= link_to "Create New Post", new_post_path %>
			<%= link_to "See All Posts", posts_path %>
		<% end %>
	<% end %>
	<div id='padding'>
		<div id='menu'>
			<ul>
				<li><a href="#">POSTS</a></li>
				<li><a href="#">COPYWRITING</a></li>
				<li><a href="#">ARTICLES</a></li>
				<li><a href="#">FICTION</a></li>
				<li><a href="#">ABOUT</a></li>
			</ul>
		</div>

		<% @posts.each do |post| %>
			<% if post.published == true %>
				<div id='posts'>
					<h1><%= link_to post.title + " " + post.updated_at.strftime("%b %d."), post_path(post.id) %></h1>
					<span id='pic'><%= image_tag "LH6_copy.jpg" %></span>
					<em><%= post.sub_title %></em>
				</div>
			<% end %>
		<% end %>
	</div>
</section>
